<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h1>{{ title }}</h1>
        <button @click="getContent">showContent</button>
        <div v-if="showContent">
            <p>Users:</p>
            <ul>
                <li v-for="(user, index) in users" :key="user.id">
                    <p> {{index}} - {{ user.name }}</p>
                    <span>{{ user.email }} - {{ user.age }}</span>
                </li>
            </ul>
        </div>
    </div>

<script>
var app = new Vue({
    el: '#app',
    data: {
        title: 'DATA',
        showContent: false,
        users: [
            {id: 12, name: 'jack', email: 'jack@gmail.com', age: 22},
            {id: 233, name: 'Alex', email: 'alex@gmail.com', age: 25},
            {id: 323, name: 'Ivan', email: 'Ivan@gmail.com', age: 24}
        ]
    },
    methods: {
        getContent () {
            this.showContent = !this.showContent
            console.log(this.user)
        }
    }
})
</script>

</body>
</html>